{% if model_func == "K-means" %}
# You might have to install these packages before running
#pip install scikit-learn wheel pandas matplotlib {% endif %}
{% if model_func == "Gauss" %}
# You might have to install these packages before running
#pip install scikit-learn numpy matplotlib {% endif %}
{% if model_func == "DBSCAN" %}
#code credit: https://scikit-learn.org/stable/auto_examples/cluster/plot_dbscan.html#sphx-glr-auto-examples-cluster-plot-dbscan-py
# You might have to install these packages before running
#pip install scikit-learn pandas numpy matplotlib {% endif %}