{% if visualization_tool == "comet.ml" %}
import comet_ml as comet_ml
from comet_ml import Experiment  # has to be 1st import
{% endif %}
import numpy as np
import torch
import ipywidgets as widgets
from torch import optim, nn
from torch.utils.data import DataLoader, TensorDataset
import torchvision as torchvision
from torchvision import models, datasets, transforms
import ignite as pytorch_ignite
from ignite.engine import Events, create_supervised_trainer, create_supervised_evaluator
from ignite.metrics import Accuracy, Loss, ClassificationReport
import pytorch_lightning
from pytorch_lightning import seed_everything
{% if data_format == "Image files" %}
import urllib
import zipfile
{% endif %}
{% if visualization_tool == "Tensorboard" or checkpoint %}
from datetime import datetime
{% endif %}
{% if visualization_tool == "Tensorboard" %}
import tensorboardX as tensorboardX
from tensorboardX import SummaryWriter
{% elif visualization_tool == "Aim" %}
import aim as aim 
from aim import Session
{% elif visualization_tool == "Weights & Biases" %}
import wandb as wandb
{% endif %}
{% if checkpoint %}
from pathlib import Path
{% endif %}
import GPUtil
import psutil
import cpuinfo
import platform
import datetime
from datetime import date
import time
import json
import webbrowser
import IPython
from IPython.display import display, Image
import prov
from prov.model import ProvDocument
from prov.dot import prov_to_dot
import os
from prov.model import ProvDocument, Namespace, Literal, PROV, Identifier
from notebook import notebookapp