import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
{% if dataset == "Iris" %}
from sklearn.datasets import load_iris
{% endif %}
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import roc_curve, auc 
import torch
import torch.nn.functional as F
import torch.nn as nn
from torch.autograd import Variable
import tqdm

plt.style.use('ggplot')